[Unit]
Description = "Streamlit instance %i"
PartOf = testStreamlit.target
After = network.target

[Install]
WantedBy = multi-user.target

[Service]
Type = simple
ExecStart = /bin/bash /home/streamlit/streamlitApps/startStreamlit.sh %i
Restart = always
User=streamlit

